<header>
  <span class="fi fi-nl"> </span>
  <div class="score">
    <h2><%=data2.team1Score %>-<%=data2.team2Score %></h2>
    <p><%=data1.field %></p>
    <h3>VS</h3>
  </div>
  <span class="fi fi-au"></span>
</header>
