<%- include('./partials/head') %>

<header>
  <span class="fi fi-bq"></span>
  <div class="score">
    <h2>10-1</h2>
    <span>VS</span>
  </div>
  <span class="fi fi-gr"></span>
</header>

<main>
  <div class="scored">
    <div class="teamleft"></div>
    <span class="border"></span>
    <div class="teamright"></div>
  </div>
</main>

<%- include('./partials/foot') %>
